@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,600&display=swap');
@import "./blocks/header";
@import "./blocks/nav";
@import "./blocks/main";
@import "./blocks/footer";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}