.main__news-1 {
    margin-top: 50px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 393px);
    gap: 10px;
    
    @media (max-width: 1280px) {
        grid-template-columns: repeat(2, 393px);
        gap: 20px;
        justify-content: center;
    }

    @media (max-width: 1024px) {
        grid-template-columns: repeat(1, 393px);
        justify-content: center;
    }

    @media (max-width: 375px) {
        grid-template-columns: repeat(1, 250px);
    }

    
    .news-1__item {
        padding: 20px 17px;
        background: #F6F6F6;
        border-radius: 15px;

        @media (max-width: 480px) {
            padding: 10px 10px;
        }

        @media (max-width: 375px) {
            padding: 5px 5px;
        }

        .news-1__img {
            @media (max-width: 480px) {
                width: 80%;
            }
        }

        .news-1__title {
            display: block;
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 10px;

            @media (max-width: 480px) {
                font-size: 16px;
                line-height: 24px;
            }

            @media (max-width: 375px) {
                font-size: 14px;
                line-height: 20px;
                text-align: center;
            }
        }

        .news-1__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;

            color: #4A4B4C;
            margin-bottom: 15px;

            @media (max-width: 480px) {
                font-size: 14px;
                line-height: 20px;
            }

            @media (max-width: 375px) {
                font-size: 12px;
                line-height: 16px;
                text-align: center;
                margin-bottom: 5px;
            }
        }

        .news-1__author {
            margin-top: 15px;
            display: flex;
            align-items: center;
            gap: 10px;

            @media (max-width: 768px) {
                justify-content: space-between;
            }

            .author__name {
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: #5E5F61;
            }
        }
    }

}